In [25]:
import pickle
import pandas as pd
import xgboost as xgb
import numpy as np
from sklearn.metrics import precision_score, recall_score, accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [26]:
with open('model_NN','rb') as model_cv:
    model_cv = pickle.load(model_cv)

In [27]:
model_cv

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [28]:
xl = pd.ExcelFile('datasets_48024_87370_Bank_Personal_Loan_Modelling.xlsx')

In [29]:
data = pd.read_excel('datasets_48024_87370_Bank_Personal_Loan_Modelling.xlsx',sheet_name='OTT')

In [30]:
data1 = data[['Age', 'Experience','Income', 'Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard']]

In [32]:
results = model_cv.predict_proba(data1)

In [33]:
# best_preds = np.asarray([np.argmax(line) for line in results])

In [37]:
data1['Prediction']= results

In [38]:
data1.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Prediction
0,50,24,22,1,0.3,3,0,0,0,0,1,0.999992
1,59,32,40,4,2.5,2,0,0,0,1,0,0.999950
2,56,30,48,1,2.2,3,0,0,0,1,1,0.999984
3,59,35,131,1,3.8,1,0,0,0,1,1,0.999620
4,53,29,20,4,0.2,1,0,0,0,1,0,0.999971