In [39]:
import pickle
import pandas as pd
import xgboost as xgb
import numpy as np
from sklearn.metrics import precision_score, recall_score, accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [40]:
with open('model_NN','rb') as model_cv:
    model_cv = pickle.load(model_cv)

In [41]:
model_cv

In [42]:
xl = pd.ExcelFile('datasets_48024_87370_Bank_Personal_Loan_Modelling.xlsx')

In [43]:
data = pd.read_excel('datasets_48024_87370_Bank_Personal_Loan_Modelling.xlsx',sheet_name='OTT')

In [44]:
data1 = data[['Age', 'Experience','Income', 'Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard']]

In [45]:
from sklearn.model_selection import train_test_split
D_train = xgb.DMatrix(data1)

In [47]:
results = model_cv.predict(D_train)

In [48]:
best_preds = np.asarray([np.argmax(line) for line in results])

In [49]:
data1['Prediction']= best_preds

In [50]:
data1.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Prediction
0,50,24,22,1,0.3,3,0,0,0,0,1,0
1,59,32,40,4,2.5,2,0,0,0,1,0,0
2,56,30,48,1,2.2,3,0,0,0,1,1,0
3,59,35,131,1,3.8,1,0,0,0,1,1,0
4,53,29,20,4,0.2,1,0,0,0,1,0,0